.btn2 {
  margin-left: 10px;
}
.btn3{
float: right;
}
.box{

  display:flex ;
  align-items: center;
  justify-content:center ;
  background-color: rgb(239, 244, 239);
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
 font-size: 50px;

}
.btn5{
margin-left: 35px;

}
