<div class="container">
  <div class="row">
    <div class="col-6">
      <img
        src="../../../assets/images/pexels-karolina-grabowska-4386467.jpg"
        alt="doctor"
      />
    </div>
    <div class="col-6">
      <h1 style="color: #5cd5c2 ;font-size: 50px;">
        WELCOME! <br />
        <span style="margin-left: 30%"> TO </span>
        <br />
        <span style="margin-left: 40%"> NS HOSPITAL </span>
      </h1>

      <div class="mesages">
        <h2>Book Appointments</h2>
      </div>

      <p style="font-family: Arial, Helvetica, sans-serif;margin-top: 10px;">
        Avail complimentary consultation over the phone and guaranteed
        appointment with the doctor before your visit.
      </p>

      <div class="secmessage">
        <h2>Single Point Of Contact</h2>
      </div>

      <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px">
        Dedicated assistant for patients support before, during and
        post-treatment
      </p>
    </div>
  </div>
</div>
